/*!
 * Copyright (c) 2021, 2023 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

//== Colors
@magenta: #AA216E;
@mauve-memento: #A36A9C;
@purple: #452062;
@murasaki: #4C204A;
@valhalla: #2A1540;

// Branding colors
@brand-primary: @magenta; 
@brand-primary-light: @mauve-memento; 
@brand-secondary: @purple;
@brand-secondary-dark: @valhalla;
@brand-tertiary: @murasaki;

@body-bg: white;

//== Typography
@font-size-lg: 1.8rem;

// Headings
@headings-color: @brand-secondary;
@headings-font-weight: 300;

// Header
@header-background: white;
@header-row-padding-bottom:0;
@header-toolbar-background-color: @brand-secondary;

// Main menu
@main-menu-link-color: @brand-secondary;
@main-menu-link-active-color: @brand-primary;

// Mobile menu
@mobile-menu-nav-background:@brand-primary;
@mobile-menu-color:#1b1b1b;
@mobile-main-menu-link-border-bottom:1px solid darken(@brand-primary, 10%);
@mobile-menu-open-active-background:darken(@brand-primary, 10%);
@mobile-menu-open-active-color:@mobile-menu-color;
@mobile-menu-dropdown-menu-background:@mobile-menu-open-active-background;

// Jumbotron
@jumbotron-h1-size: 58px;
@jumbotron-h1-weight: 700;
@jumbotron-h1-weight: normal;
@jumbotron-text-align: left;

// Buttons
@btn-default-color:white;
@btn-primary-color:white; 
@btn-primary-bg:@brand-primary; 
@btn-primary-border:@brand-primary;
@btn-font-size: 1.4rem;
@btn-lg-font-size: 1.8rem;
@btn-font-weight:700;

// Footer
@footer-background: @brand-secondary;
@footer-h2-color:white;
@footer-link-color:white;

@featured-story-bg-img: none;

@card-padding: 4rem;
@icon-card-padding: @card-padding;
