<section class="row padding-top-60 text-center">
  <div class="container">
    <h2 class="margin-bottom-40">Members</h2>
    <p>
      Join leading organizations that are joining forces on the
      non-differentiating parts, thus decreasing time-to-market, sharing best
      practices, and overcoming the war for talent.
    </p>
    <ul 
      class="eclipsefdn-members-list list-inline gap-40 flex-center" 
      data-ml-template="only-logos" 
      data-ml-wg="sdv"
    >
    </ul>
  </div>
</section>
