/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

.about-section {
  h4,
  .h4 {
    font-weight: 600;
  }

  ul {
    margin-block-end: 2rem;
  }

  li {
    position: relative;
    margin-bottom: 2rem;
    list-style: none;
  }

  li::before {
    content: '\2022'; // bullet disc
    position: absolute;
    top: 1rem;
    left: -4rem;
    color: @brand-secondary;
    font-size: 8rem; 
    line-height: 0;
  }
}

// Events section
.upcoming-events {
  padding: 4rem;
  border-radius: 2rem;
  
  h2,
  .h2 {
    margin-top: 0;
  }

  .timeline-item {
    &-title {
      font-family: 'Audiowide', sans-serif; 
    }
  }
}

// video section 

.video-section-featured {
  &-title {
    color: @brand-secondary;
    font-weight: 600;

    &::after {
      content: "";
      display: block;
      width: 8ch;
      height: 0.175em;
      margin-top: 1em;
      background-color: @brand-primary;
    }
  }

}
