/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

.header-lisbon-2023 {
  .jumbotron {
    height: auto;
  }
}

.lisbon-2023-onsite-image {
  width: 100%;
  max-height: 30rem;
  border-radius: 1rem;
  object-fit: cover;
  object-position: 50% 50%;
}

// Extended agenda
.eclipsefdn-agenda {
  &,
  & p {
    font-size: 1.4rem;
  }

  .session-name {
    display: flex;
  }
}

.eclipsefdn-agenda-schedule {
  overflow-x: auto;

  ul {
    padding-inline-start: 3ch;
  }
}