/*!
 * Copyright (c) 2021-2023 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

// This stylesheet is used by the June and Sept Contribution day pages

.header-sdv-contribution-day-2022 {
  .jumbotron-custom {
    & {
      background-image: url(../images/header-sdv-contribution-day-2022.jpg);
      background-position: center;
      background-size: cover;
      max-height: none;

      @media (min-width: @screen-md-min) {
        height: 700px;
      }
    }

    &::after {
      display: none;
    }

    @media (min-width: @screen-sm-max) {
      height: 800px;
    }
  }

  .custom-jumbotron-header {
    .sdv-title {
      & {
        margin-top: 10px;
        font-size: 22px;
        font-weight: 500;
        text-align: center;
      }

      @media (min-width: @screen-sm-max) {
        font-size: 28px;
        text-align: left;
      }
    }

    .event-title {
      & {
        font-size: 40px;
        color: @brand-primary;
        margin-top: 340px;
        margin-bottom: 0;
      }

      &::after {
        margin: 5px;
      }

      @media (min-width: @screen-sm-max) {
        font-size: 50px;
        margin-top: 420px;
      }
    }

    .event-subtitle {
      & {
        font-size: 30px;
        margin-top: 0;
      }

      @media (min-width: @screen-sm-max) {
        font-size: 35px;
      }
    }

    .more-detail {
      & {
        gap: 20px;
        flex-direction: column;
      }

      .more-detail-text {
        font-size: 17px;
        margin: 0;
        text-align: center;
        
        @media (min-width: @screen-sm-max) {
          font-size: 22px;
        }
      }
      
      .btn-primary {
        border-radius: 40px;
        margin: 0;
      }
    }
  }

  .jumbotron-custom-social-container {
    display: none;
  }
}

.sdv-contribution-day-2022-container {
  h2 {
    margin-bottom: 20px;
    font-weight: 500;
  }

  p {
    font-size: 17px;
  }
}