/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Zachary Sabourin <zachary.sabourin@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

@import (reference) '../_variables.less';

.h3 {
  color: @brand-primary;
}

.card.icon-card.icon-card-dark.card-numbered {

  padding: 5rem 2rem;

  @media (max-width: 992px) and (min-width: 768px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (max-width: 768px) {
    padding-top: 3.5rem;
    height: 18rem;
  }

  .card-header-numbered {
    padding: 10px;

    h3 {
      color: white;
      margin: 0.5rem 0rem 0rem;
    }
  }

  .icon-card-body {
    font-size: 18px;
  }
}

.card-cta {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  .btn-primary {
    text-decoration: none;

    // Allow size and text to flex
    min-width: unset;
    white-space: unset;

    // shape/dimensions
    height: 5em;
    border-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

.testimonials-section {
  position: relative;

  h2 {
    color: white;
  }

  .full-background {
    ::after {
      background-image: url("../images/pages/about/testimonials-banner.jpg");
      background-position: center;
      position: absolute;
      height: 45%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      background-size: cover;
    }
  }

  .card.icon-card.icon-card-dark.card-testimonials {
    //Override corner rounding, padding, margin and height, and remove shadow
    border-radius: 1.5em;
    margin-top: 10em;
    padding: 15rem 5rem 5rem;
    height: auto;
    box-shadow: none;

    p {
      margin: 2rem 0rem;
    }

    hr {
      size: 30;
      width: 30%;
      border-width: 5px;
      margin-top: 6em;
      margin-bottom: 6em;
    }

    //Padding when xs
    @media (max-width: 768px) {
      padding: 10rem 2rem 5rem;
    }

    @media (max-width: 1200px) {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }

    .card-header-quote {
      padding-bottom: 2.5em;

      // Dimensions
      height: 17.5rem;
      width: 17.5rem;

      // Positioning
      left: 50%;
      top: -8em;
      margin: 0rem -6.5em;
    }
  }
}

.card-contact {
  border-radius: 1.5em;
  box-shadow: 5px 5px 5px darkgrey;
  padding: 3rem;
  margin: 4rem 0rem;
}