{{ $id := .Get "id" }}

{{ $item_count := .Page.Store.Get (printf "%s-items" $id) }}

<div class="carousel slide" id="{{ $id }}" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <!-- Range through slides -->
    {{ range $count := seq $item_count }}
      <li 
        data-target="#{{ $id }}" 
        data-slide-to="{{ sub $count 1 }}"
        {{ if eq $count 1 }}
          class="active"
        {{ end }}
      >
      </li>
    {{ end }}
  </ol>
  
  <div class="carousel-inner" role="listbox">
    {{ .Inner }}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#{{ $id }}" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#{{ $id }}" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
