{{ $resource := .Get "resource" | default "*.md" }}
{{ $cards := .Page.Resources.Match $resource }}

<div class="info-list">
    {{ range $cards }}
        <div class="info-card">
            <h2 class="h3">{{ .Params.Title  }}</h2>
            <div>
                {{ .Content }}
            </div>
        </div>
    {{ end }}
</div>
